<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница диспетчера</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
    </script>
    <script src="../../../script.js"></script>
    <script>
        var myId = 0;
        function initMyId()
        {
            let xhr = new XMLHttpRequest()
            xhr.open("GET","../../../user/getFirstManager")
            xhr.responseType="json"
            xhr.send()
            xhr.onload = () => {
                myId=xhr.response
            }
        }
        initMyId()
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <p style="font-size: 100px;">
                120
            </p>
            <p>
                единиц техники
            </p>
        </div>

        <div class="col-sm-3">
            <p style="font-size: 100px;">
                150
            </p>
            <p>
                водителей
            </p>
        </div>

        <div class="col-sm-3">
            <p style="font-size: 100px;">
                150
            </p>
            <p>
                водителей
            </p>
        </div>

    </div>

     <div class="row" style="background: gray;">
         <div class="alert alert-danger">
             Уведомления
         </div>
         <div id="notifications">
             <script>
                 function updateNotifications(managerId)
                 {
                     let xhr = new XMLHttpRequest()
                     xhr.open("GET","../../user/manager/"+managerId+"/notices")
                     xhr.responseType="json"
                     xhr.send()
                     xhr.onload = () => {
                         if (xhr.status==200)
                         {
                             let notices = xhr.response
                             console.log("Notices: ",notices)
                             for (let key in notices)
                             {
                                 let p = document.createElement("div")
                                 p.classList.add("alert","alert-danger")
                                 p.innerText=notices[key].text
                                 document.getElementById("notifications").appendChild(p)

                                 ut1 = new SpeechSynthesisUtterance("Новое уведомление");
                                 ut1.pitch = 1;  // пониже
                                 ut1.rate = 2;   // побыстрее
                                 speechSynthesis.speak(ut1);
                             }
                         }

                     }
                 }
                 setInterval(() => {updateNotifications(myId)},3000)
             </script>
         </div>
     </div>

    <div class="row" style="padding: 20px; margin: 20px;">
        <div class="alert alert-danger">
            Истекает срок техосмотра:
        </div>
        <div class="col-sm-3" id="checkup-vehicles">

            <script>
                function addCheckupVehicles()
                {
                    let checkupBlock = document.getElementById("checkup-vehicles")
                    let xhr = new XMLHttpRequest()
                    xhr.open("GET","../../vehicle/exemplars/forCheckup/ofManager/"+myId)
                    xhr.responseType="json"
                    xhr.send()
                    xhr.onload = () => {
                        for (let key in xhr.response)
                        {
                            //console.log(xhr.response[key])
                            let obj = xhr.response[key]
                            let card = document.createElement("div")
                            card.classList.add("card")
                            card.style.width="18rem"
                            let img = document.createElement("img")
                            img.src = "../../vehicle.png"
                            img.classList.add("card-img-top")
                            let cardBody = document.createElement("div")
                            cardBody.classList.add("card-body")

                            card.appendChild(img)
                            card.appendChild(cardBody)

                            let cardTitle = document.createElement("h5")
                            cardTitle.classList.add("card-title")
                            cardTitle.innerText=obj.model.name

                            let cardText = document.createElement("p")
                            cardText.classList.add("card-text")
                            cardText.innerText = "Номер: " + obj.number + "\n" + "Истекает: " + obj.nextDateCheckUpDate

                            cardBody.appendChild(cardTitle)
                            cardBody.appendChild(cardText)

                            checkupBlock.appendChild(card)
                        }
                    }
                }
                addCheckupVehicles()
            </script>





        </div>
    </div>

    <div class="row" style="padding: 20px; margin: 20px;">
        <div class="alert alert-info">
             Наш транспорт на карте
        </div>
        <div id="map" style="width: 600px; height: 400px"></div>
    </div>

    <script type="text/javascript">
        // Функция ymaps.ready() будет вызвана, когда
        // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
        ymaps.ready(init);
        function init(){
            // Создание карты.
            var myMap = new ymaps.Map("map", {
                // Координаты центра карты.
                // Порядок по умолчанию: «широта, долгота».
                // Чтобы не определять координаты центра карты вручную,
                // воспользуйтесь инструментом Определение координат.
                center: [55.76, 37.64],
                // Уровень масштабирования. Допустимые значения:
                // от 0 (весь мир) до 19.
                zoom: 7
            });

            var xhr = new XMLHttpRequest()
            xhr.open("GET","../request/ofManager/6/")
            xhr.responseType="json"
            xhr.send()
            xhr.onload = () => {
                for (let key in xhr.response)
                {
                    let obj = xhr.response[key]
                    console.log(obj)
                    myMap.geoObjects.add(new ymaps.Placemark([obj.vehicleExemplar.latitude, obj.vehicleExemplar.longitude], {
                        balloonContent: '<strong>'+obj.vehicleExemplar.model.name+'</strong>'+'<br>'+obj.vehicleExemplar.number
                    }))
                }
            }


        }
    </script>


    <div class="row">
        <div class="alert alert-success">
            Наши водители
        </div>
        <div class="col-sm-3">
            <p>
                Иванов Иван
            </p>
        </div>

        <div class="col-sm-3">
            <p>
                Иванов Иван
            </p>
        </div>

        <div class="col-sm-3">
            <p>
                Иванов Иван
            </p>
        </div>
    </div>

     <div class="row">
         <div class="alert alert-primary" role="alert">
             Добавить водителя:
         </div>
         <form>
             Фамилия: <input type="text">
             Имя:<input type="text">
             Дата рождения:<input type="date">
             <button class="btn btn-primary">Добавить</button>
         </form>
     </div>



</div>
</body>
</html>